@model ConvertJobVM

<div class="row">

    <h1 class="h3">Görev Detayı</h1>

    <div class="col-md-6 card card-body">
        <form method="post" asp-antiforgery="true" enctype="multipart/form-data">
            <div class="mb-2">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control">
            </div>
            <div class="mb-2">
                <label asp-for="FileVorlage" class="form-label"></label>
                <input type="file" asp-for="FileVorlage" class="form-control form-control-lg"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            </div>
            <div class="mb-2">
                <label asp-for="FileAnlage" class="form-label"></label>
                <input type="file" asp-for="FileAnlage" class="form-control form-control-lg" 
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            </div>

            <button type="submit" class="btn btn-outline-primary mt-2">Kaydet</button>

        </form>
    </div>

</div>

